.banner {
  background: rgb(5, 5, 5);
  max-width: 100%;
  height: 325px;
  position: relative;
  display: block;
  font-family: 'lato', serif;
  box-shadow: 0 -100px 64px -135px rgba(245, 222, 179, 0.473) inset;
}
h1, p, h3{
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.banner-text{
  width: 75%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.banner h1{
  width: auto;
  font-size: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  left: -6px;
 
}
.banner p{
  font-size: 22px;
  font-weight: 320;
  letter-spacing: 1.1vw;
  text-align: center;
  
}

.showreel{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;

}
.showreel img{
  filter: brightness(0) saturate(100%) invert(93%) sepia(96%) saturate(365%) hue-rotate(313deg) brightness(99%) contrast(94%);
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.banner h3{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1vw;
  text-align: center;
  
}


@keyframes stretch {
  0% {
    scale: 1;

  }
  30% {
    scale:1.4;

  }
  70% {
    scale:1.2;

  }
  100% {
    scale: 1;

  }
}



.logo__grid{
position: absolute;
background-color: none;
width: auto;
height: auto;
display: flex;
right: 0;
bottom: 0;
padding: 5px;
}
.logo__grid img{
    height: 40px;
    padding: 0 10px 0;
    filter: brightness(0) saturate(100%) invert(93%) sepia(96%) saturate(365%) hue-rotate(313deg) brightness(99%) contrast(94%);

  }


