

.owl-theme .owl-nav {
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  justify-content: space-between;
  transform: translateY(-50%);

  -webkit-tap-highlight-color: transparent; }

  .owl-theme .owl-nav img{
    display: flex;
    width: 38px;
    height: 38px;
    scale: .6;
    filter: invert(90%);
} 
    .owl-theme .owl-nav .owl-prev{
      transform: rotate(180deg);
      
    }

  .owl-theme .owl-nav [class*='owl-'] {
    color: #ec0c0c;
    font-size: 14px;
    margin: 0 10px 0;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.8);
    display: inline-block;
    cursor: pointer;
    border-radius: 1px; 
    transition: background-color .2s;}
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: rgba(0, 0, 0, 0.95);
      transition: background-color .3s;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
  .owl-theme .owl-nav [class*='owl-']:active {
    opacity: .6;
    text-decoration: none; 
  
  }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  height: 0px;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    background: none;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 12px;
      height: 4px;
      margin: 5px 7px;
      scale: 1;
      background: #a8a8a8;
      display: block;
      -webkit-backface-visibility: visible;
      transition: width .5s, scale .5s, opacity 200ms ease;
      border-radius: 3px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #5e5e5e; 
      scale: 1.5;
      width: 5px;
      transition: .5s;}





body {
  font-family: 'lato', serif;
}
h1,h2,h3,p{
  color: rgb(245, 222, 179);
  text-transform: uppercase;
  letter-spacing: .4rem;
  font-weight: 500;
  padding: 0;
}

   
   
   
   
.chapter{
 width: 100%;
 height: auto;
 padding: 100px 0 100px;
 display: flex;
 margin: 12px auto;
 justify-content: center;
 text-align: center;
 z-index: 1;
 background-color: rgba(255, 0, 0, 0.808);
}   
.chapter-container{
  width: 100%;
  height: auto;

  min-height: 100vh;
  background-color: rgba(0, 110, 255, 0.719);
}  
.chapter-container-contents{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}   
   
   
   
   
   
   
/*Chapter*/
.chapter .owl-carousel .owl-item img {
  width: auto;
  height: 24vw;
}

/*Terrain*/
.chapter-terrain .owl-carousel .owl-item img {
  width: 100%;
  object-fit: contain;
}

/*Grove*/
.chapter-grove-A{
display: flex;
height: auto;

}
.chapter-grove-A img{
position: relative;
float: left;
width: 50%;
height: auto;
padding: 0px;
margin: 0px auto;
scale: .7;

}


/*Chapter-LaG*/
.chapter-LAG video{
width: 45%;
}
















.hover{
	text-align:center;
  margin: 0 auto 0px;
  display: block;
	width:22px;
	height:22px;
  cursor: pointer;
  scale: 1;
	transition: scale .5s;
  position: relative;
  z-index: 100;
}
.reveal {
	background: rgba(0, 0, 0, 0.9);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
	width: 50vw;
	display: none;
  cursor: default;
  scale: 1;
  padding: 25px;
  color: rgb(187, 187, 187);
  margin: 5px 0;
}
.hover img{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0);
  filter: brightness(0) saturate(100%) invert(93%) sepia(96%) saturate(365%) hue-rotate(313deg) brightness(99%) contrast(94%);

  }
.hover:hover img{
  scale: 1.2;
  transition: scale .35s;
}
.hover img:active{
  scale: 1.4;
  transition: scale .3s;
}