

.owl-theme .owl-nav {
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-tap-highlight-color: transparent; }

  .owl-theme .owl-nav img{
    display: flex;
    width: 38px;
    height: 38px;
    scale: .6;
    filter: invert(90%);
    
} 
    .owl-theme .owl-nav .owl-prev{
      transform: rotate(180deg);
      pointer-events: all;
      position: relative;
      left: -60px;
    }
    .owl-theme .owl-nav .owl-next{
      pointer-events: all;
      position: relative;
      right: -60px;
    }




  .owl-theme .owl-nav [class*='owl-'] {
    color: #ec0c0c;
    font-size: 14px;
    margin: 0 10px 0;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.9);
    display: inline-block;
    cursor: pointer;
    border-radius: 1px; 
    transition: background-color .2s;}
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: rgba(0, 0, 0, 1);
      transition: background-color .3s;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
  .owl-theme .owl-nav [class*='owl-']:active {
    opacity: .6;
    text-decoration: none; 
  
  }
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  height: 0px;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    background: none;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 12px;
      height: 4px;
      margin: 5px 7px;
      scale: 1;
      background: #a8a8a8;
      display: block;
      -webkit-backface-visibility: visible;
      transition: width .5s, scale .5s, opacity 200ms ease;
      border-radius: 3px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #242424; 
      scale: 1.5;
      width: 5px;
      transition: .5s;}




























body {
  font-family: 'epilogue', serif;
  background-color: rgb(5, 5, 5);
  margin: 0px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.493);
}

body::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.171);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    
}
h1,h2,h3,p{
  color: rgb(245, 222, 179);
  text-transform: uppercase;
  letter-spacing: .65rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 40px;

}
 
   

   
  

/*Carousel*/
.chapter .owl-carousel{
  width: 75%;
  margin: 0 auto;
}
  .chapter .owl-carousel .owl-item img {
    width: 100%;
    height: 25vw;
  }

/*Chapters*/
.chapter{
 width: 100%;
 height: auto;
 padding: 100px 0 100px;
 display: flex;
 margin: 0px auto;
 justify-content: center;
 text-align: center;
 z-index: 1;
 background-color: rgb(16, 16, 16);
}   
  .chapter-container{
    width: 100%;
    height: auto;
    min-height: 75vh;
  }  
    .chapter-container-contents{
      position: relative;
      top: 50%;
      transform: translateY(-50%);

    }   
.chapter-album{
  display: flexbox;
  justify-content: center;
  margin: 15px 0 15px;
  height: 100%;
}



/*nf*/
.chapter-NF {
  background-color: rgb(240, 235, 229);
}
.chapter-NF .hover, .chapter-NF h2{
  filter: invert();
}




/*SSF*/
.chapter-SSF {
  background-image: linear-gradient(rgb(43, 43, 43) 70%, rgb(85, 85, 85) 130%);
}




/*vk*/
.chapter-vk {
  background-image: linear-gradient(rgb(235, 234, 233) 30%, rgb(201, 200, 200) 50%);
}
.chapter-vk .hover, .chapter-vk h2{
  filter: invert();
}




/*Terrain*/
.chapter-terrain {
  background-image: linear-gradient(rgb(60, 69, 85),rgb(110, 112, 114)105%);
}
.chapter-terrain .owl-carousel{
  background-image: linear-gradient(rgb(60, 69, 85),rgb(110, 112, 114)105%);
}
  .chapter-terrain .owl-carousel .owl-item img {
    object-fit: contain;
  }





/*dneg*/
.chapter-DNEG{
  background-image: linear-gradient(rgb(17, 15, 14) 65%, rgb(14, 8, 5) 150%);
}




/*Grove*/
.chapter-grove{
  background-image: linear-gradient(rgb(16, 15, 19) 45%, rgb(10, 12, 10) 150%);
}
.chapter-grove-A{
display: flex;
width: 47%;
height: auto;
margin: 0 auto;
justify-content: center;
}
.chapter-grove-A img{
width: 100%;
height: 100%;
padding: 0 10px 0;
}




/*Chapter-LaG*/
.chapter-LAG video{
width: 45%;
}




/*bridge*/
.chapter-bridge{
  background-image: linear-gradient(rgb(19, 10, 6) 0%, rgb(12, 10, 14) 60%);
}
.chapter-bridge .chapter-album h3{
  margin: 45px 0 25px;
  font-size: 1rem;
}
.chapter-bridge .album-A img{
  height: 170px;
  
}
.chapter-bridge .album-B img{
  height: 210px;
    
}



/*towerbridges*/
.chapter-towerbridges{
  background-image: linear-gradient(rgb(26, 24, 23) 0%, rgb(26, 22, 31) 60%);
}.chapter-towerbridges a:link{text-decoration: none;}

.chapter-towerbridges .chapter-album h3{
  margin: 0;
  padding: 0;
  font-size: .7rem;
}
.chapter-towerbridges .album-A img{
  height: 250px;
  
}
.chapter-towerbridges .album-A h3{
  font-size: 1rem;
  letter-spacing: 3px;
  position: relative;
  padding: 15px;
}

.chapter-towerbridges .owl-carousel{
  width: 80%;

}
.chapter-towerbridges .owl-carousel .owl-item img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}


.chapter-towerbridges .album-B{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;  
  gap: 1vw;
  width: 70%;
  margin: 0 auto;
}
.chapter-towerbridges .grid__cell{
  width: 100%;
  height: 150px;
  display: block;
  position: relative;
}
.chapter-towerbridges .grid__cell h3{
  font-size: 1.3rem;
  letter-spacing: 5px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 80%;
  width: 100%;
  transform: translate(-50%, -50%);

}
.chapter-towerbridges .album-B img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(.2);
  box-shadow: 0 -20px 8px 4px gold inset;
  position: relative;
 
}











.chapter-pgt{
  background-color: #141414;
}
.chapter-pgt .chapter-container{
  min-height: 50vh;
}
.chapter-pgt svg{
  filter: brightness(0) saturate(100%) invert(93%) sepia(96%) saturate(365%) hue-rotate(313deg) brightness(99%) contrast(94%);
padding: 50px;
}




































.hover{
	text-align:center;
  margin: 0 auto 20px;
  display: block;
	width:22px;
	height:22px;
  cursor: pointer;
  scale: 1;
	transition: scale .5s;
  position: relative;
  z-index: 100;
}
.reveal {
	background: rgba(0, 0, 0, 0.9);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
	width: 50vw;
	display: none;
  cursor: default;
  scale: 1;
  padding: 25px;
  color: rgb(187, 187, 187);
  margin: 5px 0;
}
.hover img{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0);
  filter: brightness(0) saturate(100%) invert(93%) sepia(96%) saturate(365%) hue-rotate(313deg) brightness(99%) contrast(94%);

  }
.hover:hover img{
  scale: 1.2;
  transition: scale .35s;
}
.hover img:active{
  scale: 1.4;
  transition: scale .3s;
}
.hover p{
  text-transform: none;
  letter-spacing: .12rem;
}








.chapter-showreel{
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: none;
   box-shadow: 0 100px 64px -135px rgba(245, 222, 179, 0.473) inset;
}
.chapter-showreel .chapter-container{
  min-height: 0px;
}
.chapter-showreel iframe{
  width: 100%;
  padding: 20px 0 20px;
}
.hoverSR{
  cursor: pointer;
}
.revealSR{
  display: none;
}












iframe{
  width: 100%;
}











@media screen and (max-width:720px) {
  .owl-theme .owl-nav img{
    width: 30px;
    height: 70px;   
} 
  .owl-theme .owl-nav .owl-prev {
    left: 0;

  }
  .owl-theme .owl-nav .owl-next {
    right: 0;

  }
  
  .chapter{
    padding: 75px 0 75px;
    margin: 0px 0 0;
    z-index: 1;
 
   }   
   .chapter-container{
    min-height: 20vh;
   } 
  .chapter .owl-carousel{
    width: 100%;
    margin: 0 auto;
  }
  .chapter .owl-carousel .owl-item img {
    width: auto;
    height: 72vw;
  }

  h1,h2,h3,p{


    letter-spacing: .35rem;
    font-size: 1rem;

    padding: 0 10px 0;
  
  }



  iframe{
    width: 85%;
  }
 
  .chapter-terrain .owl-carousel{
    background-image: none;
  }
  .chapter-terrain .owl-carousel .owl-item img {
    width: 100%;
    height: 50vw;
  }
  .chapter-SSF{
    background-image: none;
  }
  .chapter-vk .owl-carousel .owl-item img {
    width: 100%;
    height: 46vw;
  }
  .chapter-bridge .bridge-image{
    width: 80%;
  }
  .chapter-bridge-A img{
    width: 15%;
    padding: 0 10px 0;
    }
  .chapter-bridge-B img{
    height: 32vw;

    }    
  .chapter-LAG video{
width: 80%;
  }
}